body{
    display:flex;
    position:relative;
    background-color: #f8f9fa;
    font-family: 'Roboto';
}
.part1 {
    background: #fff;
    width: 20%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}
ul{
    list-style: none;
}
.part1 img {
    width:48px;
    height:24px;
}
.part2{
    width:80%;
    height:100vh;
    flex-direction: column;
    position:absolute;
    left:30%;
    display:auto;
    gap:200px;

}
.part2a{
    display:flex;
    position:relative;

}
.img1{
    width:108px;
    height:108px;
    border-radius: 50%;
}
.part2a1{
    display:flex;
    position:relative;
    margin-left:30px;
    gap:50px;
    justify-content: center;
    align-items: center;

}
.part2a2{
    display:flex;
    position:relative;
    margin-left:30px;
    margin-top:30px;
    gap:50px;
   
}
.img2{
    width:48px;
    height:48px;
}
.part2b{
    margin-left:30px;
    margin-top:30px
}
.edit{
    background-color: grey;
    width: 100px;
    height:35px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;  /* canh ngang */
    align-items: center;      /* canh dọc */
}
.view {
    background-color: grey;
    width: 100px;
    height:35px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;  /* canh ngang */
    align-items: center;      /* canh dọc */
}
part2_b{
    margin-top:200px;
}
.part2_b img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.p{
    left:50px;
}
.part2c{
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;

}
