.part1 {
    text-align: center;
    border-style: groove;
    gap: 20px;
}

.dangki {
    color: azure;
    display: inline;
    width: 150px;
    background-color: blue;
    text-align: center;

}

.hr::after,
.hr::before {
    flex: 1px;
    border-bottom: 1px;

}

.part2 {
    margin-top: 50px;
    border-style: groove;
    text-align: center;
}

.dangnhap {
    color: blue;
}

form input {
    margin-top: 20px;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    width: 500px;
    margin: auto;
    /* Màu chữ */
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    width: 50px;

    box-sizing: border-box;
    display: flex;
    /* Định dạng dấu gạch ngang */
}

.or-divider::before {
    margin-right: 10px;
}

.or-divider::after {
    margin-left: 10px;
}